<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-bold" href="/">
      <img
        src="https://static.ambitionbox.com/assets/v2/images/rs:fit:1280:960:false:false/bG9jYWw6Ly8vbG9nb3Mvb3JpZ2luYWxzL3dvbmRlcmJpei10ZWNobm9sb2dpZXMuanBn.png"
        alt=""
        width="30"
      />
      QuizApp
    </a>
    <div *ngIf="name">
      <a class="text-bold" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

<!-- src="https://img.icons8.com/color/96/000000/angularjs.png" -->
